* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}
:root {
  --grey: #2e4152;
  --pink: #ff6858;
  --navLiHoverBorder: rgba(255, 255, 255, 0.8);
  --white: #f3f4f5;
  --border: #dddddd;
  --hr: #f3f4f5;
  --featuresColImgBg: #9d969f;
  --aboutFeaturesBorder: rgba(255, 255, 255, 0.15);
  --silver: #c4c4c4;
}
header {
  height: 50px;
  width: 100%;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
header .content {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  width: 150px;
  height: 30px;
}
nav {
  width: 430px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
nav ul {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
nav li {
  height: 33px;
  width: 60px;
  list-style-type: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: white;
  transition: 0.3s ease;
}
nav li:hover {
  border: 1px solid var(--navLiHoverBorder);
}
nav li a {
  height: inherit;
  width: inherit;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: transparent;
  border-radius: 5px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.3s ease;
  border: 2px solid white;
}
button:hover {
  background-color: white;
  color: var(--pink);
}
.headerBtns {
  width: 200px;
  height: 34px;
  display: flex;
  justify-content: space-between;
}
#btnLogin {
  width: 88px;
  height: 33px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  transition: 0.3s ease;
}
#btnLogin:hover {
  background-color: white;
  color: var(--grey);
}
#btnRegister {
  width: 102px;
  height: 33px;
  border: 2px solid var(--pink);
  background-color: var(--pink);
  color: white;
  transition: 0.3s ease;
}
#btnRegister:hover {
  background-color: transparent;
  border: 2px solid white;
}
main {
  width: 100%;
  height: 800px;
  background: url(images/bc-slide-collab-3.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .content {
  width: 830px;
  height: 490px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
main h1 {
  font-size: 75px;
  line-height: 83px;
  font-weight: 300;
}
main p {
  width: 830px;
  height: 135px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 300;
}
main .content p a {
  color: inherit;
  text-decoration: underline;
}
#btnGetStartedForFree {
  width: 245px;
  height: 62px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}
main a {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: underline;
  color: white;
}
.features {
  height: 330px;
  width: 100%;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .content {
  width: 85%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featuresCol {
  height: 250px;
  width: 360px;
  display: flex;
  justify-content: space-between;
}
.featuresCol .img {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white);
  position: relative;
}
.featuresCol i {
  color: var(--grey);
}
.featuresCol .contentArea {
  height: 200px;
  width: 245px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--white);
}
.featuresCol p {
  width: 230px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
}
#btnReadMore {
  width: 113px;
  height: 37px;
}
.platforms {
  height: 940px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.platforms .content {
  width: 90%;
  height: 760px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  color: var(--grey);
}
.platforms h1 {
  font-size: 50px;
  line-height: 55px;
  font-weight: 300;
}
.platformsRow {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.platformsRow .platformsCol {
  height: 300px;
  width: 49%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
/* .platformsCol a {
  height: 80%;
  width: 100%;
} */
.platformsCol .content {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.5s;
  color: white;
  margin-bottom: 2em;
  padding-left: 2em;
}
.platformsCol .content:hover {
  height: 80%;
  width: 100%;
}
.platformsCol p {
  width: 500px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
}
.platformsCol h1 {
  font-size: 30px;
  line-height: 21px;
  font-weight: 400;
}
#virtualClassroom {
  background: url(images/html5vc_teaser_whiteboard_800x600.jpg);
  background-size: cover;
}
#onlineCourses {
  background: url(images/800x600_11.jpg);
  background-size: cover;
}
#onlineTesting {
  background: url(images/800x600_13.jpg);
  background-size: cover;
}
#unifiedContent {
  background: url(images/800x600_14.jpg);
  background-size: cover;
}
.awards {
  width: 100%;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.awards .content {
  width: 85%;
  height: 450px;
  border-top: 1px solid var(--hr);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.awards .awardsCol {
  height: 360px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--grey);
}
.awardsCol .img {
  width: inherit;
  height: 210px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--border);
}
.awardsCol h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
}
.awardsCol p {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.featuresClassroom {
  height: 900px;
  width: 100%;
  background-image: url(images/blur-bg4.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featuresClassroom .content {
  width: 85%;
  height: 730px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.featuresClassroom h1 {
  font-size: 50px;
  line-height: 55px;
  font-weight: 500;
}
.featuresClassroom p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
.featuresClassroom .content .featuresClassroomRow {
  width: 100%;
  height: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featuresClassroomRow {
  color: var(--grey);
}
.featuresClassroomCol {
  width: 120px;
  height: 145px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
}
.featuresClassroomCol .img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--featuresColImgBg);
}
.featuresClassroomCol a {
  color: white;
}
.featuresClassroomCol h4 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.aboutFeatures {
  width: 100%;
  height: 200px;
  border-top: 1px solid var(--aboutFeaturesBorder);
  border-bottom: 1px solid var(--aboutFeaturesBorder);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutFeatures h1 {
  font-size: 30px;
  line-height: 33px;
  font-weight: 300;
  margin-bottom: 0.5em;
}
#btnFeatures {
  width: 225px;
  height: 60px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}
.customers {
  height: 330px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--silver);
}
.customers p {
  font-size: 20px;
  line-height: 22px;
  font-weight: 300;
  color: var(--grey);
  margin-bottom: 1em;
}
.customers .customersRow {
  width: 85%;
  height: 75px;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.customersRow img {
  height: 60px;
  width: 200px;
  margin-right: 1em;
}
#modern {
  height: 75px;
  width: 75px;
}
#coldwell {
  height: 75px;
  width: 110px;
}
#gowdy {
  height: 80px;
  width: 150px;
}
#oxford {
  width: 114px;
  height: 75px;
}
.feedback {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--hr);
  color: var(--grey);
}
.feedback .content {
  height: 180px;
  width: 85%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 3em;
}
.feedback p {
  width: 95%;
  height: 92px;
  font-size: 22px;
  line-height: 33px;
  font-weight: 300;
}
.feedback h1 {
  font-size: 50px;
  line-height: 55px;
  font-weight: 300;
}
